body {
  background-color: orange;
  font-family: 'Raleway', sans-serif;
}
nav  {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand{
  float: left;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
}
.nav-link:hover{
  color: blue;
  font-weight: bold;
}
#brand .nav-link {
  color: black;
  font-size: 12pt;
}
#brand .nav-link:hover {
  color: blue;
}


h1 {
  font-size: 40pt;
  font-family: 'Acme', sans-serif;
}
#home {
  margin-top: 40px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 60vh;
  padding-top: 3em;
  background: url('https://images.unsplash.com/photo-1507242207323-a3ca53b80849?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') center 75% no-repeat fixed;
  background-size: cover;
}
.header-tag {
  text-align: center;
  color: darkorange;
  text-shadow: 2px 2px 2px brown;
}
h3.header-tag{
  margin-top: -30px;
  font-size: 18pt;
}